{% extends "base.html" %}
 {% block content %}
<div class="container">
    <form action="{% url 'search_drugs' pk_doctor %}" class="search_drug_form" method="get">
            
            <div class="input-group my-3">
            <input type="text" class="form-control" placeholder="Nhập tên thuốc cần tìm" id="search_drug" name="search_drug">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary btn-finished" type="button">Tìm thuốc</button>
            </div>
            </div>
            
        </form>
    {% if drug_results %}
        <h3 class="my-3">Kết quả tìm kiếm</h3>
        <div class="">
            <table class="table">
                <thead>
                    <tr>
                        <th>Tên thuốc</th>
                        <th>Số lượng</th>
                        <th>Giá bán (VNĐ)</th>
                        <th>Giá mua (VNĐ)</th>
                    </tr>
                </thead>
                {% for drug in drug_results %}
                <tbody>
                    <tr>
                        <td scope="row"><a
                            class="page-link-mix" href="{% url 'medicine_edit' pk_doctor drug.pk %}">{{ drug.full_name }}</a></td>
                        <td>{{ drug.quantity }}</td>
                        <td class="sale_price">{{ drug.sale_price }}</td>
                        <td class="import_price">{{ drug.import_price }}</td>
                    </tr>
                    
                </tbody>
                {% endfor %}
            </table>
        </div>
    {% else %}
    <h3 class="my-3">Không tìm thấy thuốc</h3>
    {% endif %}
</div>
<script>
    $(document).ready(function(){
        $(".sale_price").each(function() {
        
            let cost = parseInt($(this).text());
            $(this).text(cost.toLocaleString());
        }); // end each
        $(".import_price").each(function() {
        
            let cost = parseInt($(this).text());
            $(this).text(cost.toLocaleString());
        }); // end each

        $(".btn-finished").click(function(){
            var search_drug = $("#search_drug").val();
            var valid = true;

            if(search_drug === ""){
                valid &= false;
            }
            if(valid){
                $(".search_drug_form").submit();
            }
        }); // end click

    }); //end ready
</script>
 {% endblock %}