{% extends "base.html" %}
 {% block content %}
<div class="container">
    <form action="{% url 'search_drugs' pk_doctor %}" class="search_drug_form" method="get">
            
            <div class="input-group my-3">
            <input type="text" class="form-control" autocomplete="off" placeholder="Nhập tên thuốc hoặc chọn ngày xuất thuốc" id="search_drug" name="search_drug"
            {% if search_drug_value %}
            value="{{ search_drug_value }}"
            {% endif %}>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary btn-finished" type="button">Tìm thuốc</button>
            </div>
            </div>
            
        </form>
    {% if results %}
        <h3 class="my-3">Kết quả tìm kiếm</h3>
        <div class="">
            <table class="table">
                <thead>
                    <tr>
                        <th>Tên biệt dược</th>
                        <th>Số lượng xuất</th>
                        <th>Doanh thu (VNĐ)</th>
                        <th>Bệnh nhân</th>
                    </tr>
                </thead>
                {% for item in results %}
                <tbody>
                    <tr>
                        <td scope="row"><a
                            class="page-link-mix" href="{% url 'medicine_edit' pk_doctor item.drugs.0.medicine.pk %}">{{ item.drugs.0.medicine.full_name }}</a></td>
                        <td class="number">{{ item.quantity }}</td>
                        <td class="number">{{ item.cost }}</td>
                        <td class="import_price">
                            
                            {% for drug in item.drugs %}
                            <a class="page-link-mix" href="{% url 'medical_record_edit' pk_doctor drug.medical_history.medical_record.pk %}">{{drug.medical_history.medical_record.full_name}},</a>
                                
                            {% endfor %}
                                
                        </td>
                        <td></td>
                    </tr>
                    
                </tbody>
                {% endfor %}
            </table>
        </div>
    {% else %}
    <h3 class="my-3">Không tìm thấy thuốc</h3>
    {% endif %}
</div>
<script>
    $(document).ready(function(){
        
        // date picker
        $("#search_drug").datepicker({
        constrainInput: false,
        dateFormat: "dd/mm/yy",
        changeMonth: true,
        changeYear: true,
        // yearRange:"-90:+0",
        monthNames: ["1","2","3","4","5","6","7","8","9","10","11","12"],
        monthNamesShort: ["1","2","3","4","5","6","7","8","9","10","11","12"]
        });// end datepicker

        $(".number").each(function() {
        
            let cost = parseInt($(this).text());
            $(this).text(cost.toLocaleString());
        }); // end each
        // $(".import_price").each(function() {
        
        //     let cost = parseInt($(this).text());
        //     $(this).text(cost.toLocaleString());
        // }); // end each

        $(".btn-finished").click(function(){
            var search_drug = $("#search_drug").val();
            var valid = true;

            if(search_drug === ""){
                valid &= false;
            }
            if(valid){
                $(".search_drug_form").submit();
            }
        }); // end click

    }); //end ready
</script>
 {% endblock %}