{% extends "base.html" %}
 {% block content %}

<div class="container my-3" style="border: solid #f7f7f9;border-width: 3px;">
    <h3 class="mt-3">Cài đặt dịch vụ khám chữa bệnh</h3>

    <form action="{% url 'settings_service' doctor.user.pk %}" id="form_settings" method="post">
        {% csrf_token %}
        <div class="form-check my-3">
            <input class="form-check-input" type="checkbox" id="blood_pressure" name="blood_pressure" 
            {% if doctor.settingsservice.blood_pressure %}
                checked
            {% endif %}>
            <label class="form-check-label" for="blood_pressure">
              Kích hoạt trường lưu trữ chỉ số huyết áp
            </label>
        </div>
        <div class="form-check my-3">
            <input class="form-check-input" type="checkbox" id="weight" name="weight" {% if doctor.settingsservice.weight %}
                checked
            {% endif %}>
            <label class="form-check-label" for="weight">
              Kích hoạt trường lưu trữ chỉ số cân nặng
            </label>
        </div>
        <div class="form-check my-3">
            <input class="form-check-input" type="checkbox" id="ph_meter" name="ph_meter" 
            {% if doctor.settingsservice.ph_meter %}
                checked
            {% endif %}>
            <label class="form-check-label" for="ph_meter">
              Kích hoạt trường lưu trữ chỉ số giấy quỳ (độ pH)
            </label>
        </div>
        <div class="form-check my-3">
            <input class="form-check-input" type="checkbox" id="glycemic" name="glycemic" 
            {% if doctor.settingsservice.glycemic %}
                checked
            {% endif %}>
            <label class="form-check-label" for="glycemic">
              Kích hoạt trường lưu trữ chỉ số đường huyết
            </label>
        </div>
        <div class="form-check my-3">
            <input class="form-check-input" type="checkbox" id="take_care_pregnant_baby" name="take_care_pregnant_baby" 
            {% if doctor.settingsservice.take_care_pregnant_baby %}
                checked
            {% endif %}>
            <label class="form-check-label" for="take_care_pregnant_baby">
              Kích hoạt dịch vụ chăm sóc bầu – sau sinh – tắm bé
            </label>
        </div>
        <div class="form-check my-3">
            <input class="form-check-input" type="checkbox" id="point_based" name="point_based" 
            {% if doctor.settingsservice.point_based %}
                checked
            {% endif %}>
            <label class="form-check-label" for="point_based">
              Kích hoạt tính năng tích điểm khám bệnh
            </label>
        </div>
        <div class="form-inline">
            <div class="form-check my-3">
                <input class="form-check-input" type="checkbox" id="medical_ultrasonography" name="medical_ultrasonography" 
                {% if doctor.settingsservice.medical_ultrasonography %}
                    checked
                {% endif %}>
                <label class="form-check-label" for="medical_ultrasonography">
                  Kích hoạt dịch vụ lưu trữ kết quả siêu âm (VNĐ)
                </label>
            </div>
            <div class="form-group mx-sm-3 my-3">
                <label for="medical_ultrasonography_cost" class="sr-only">Giá tiền</label>
                <input type="text" class="form-control mr-2" name="medical_ultrasonography_cost" id="medical_ultrasonography_cost" placeholder="Nhập giá tiền" 
                {% if doctor.settingsservice.medical_ultrasonography_cost %}
                    value="{{ doctor.settingsservice.medical_ultrasonography_cost }}"
                {% endif %}>
                <small id="alert_medical_ultrasonography_cost"  class="text-muted" style="color: #d9534f !important;"></small>
            </div>
            
        </div>
        <div class="form-check my-3">
          <input class="form-check-input" type="checkbox" id="medical_ultrasonography_multi" name="medical_ultrasonography_multi" 
          {% if doctor.settingsservice.medical_ultrasonography_multi %}
              checked
          {% endif %}>
          <label class="form-check-label" for="medical_ultrasonography_multi">
            Kích hoạt lưu trữ nhiều kết quả siêu âm trong 1 lần khám
          </label>
        </div>
        <div class="form-inline">
            <div class="form-check my-3">
                <input class="form-check-input" type="checkbox" id="endoscopy" name="endoscopy" 
                {% if doctor.settingsservice.endoscopy %}
                    checked
                {% endif %}>
                <label class="form-check-label" for="endoscopy">
                  Kích hoạt dịch vụ lưu trữ kết quả nội soi (VNĐ)
                </label>
            </div>
            <div class="form-group mx-sm-3 my-3">
                <label for="endoscopy_cost" class="sr-only">Giá tiền</label>
                <input type="text" class="form-control" name="endoscopy_cost" id="endoscopy_cost" placeholder="Nhập giá tiền" 
                {% if doctor.settingsservice.endoscopy_cost %}
                    value="{{ doctor.settingsservice.endoscopy_cost }}"
                {% endif %}>
                <small id="alert_endoscopy_cost"  class="text-muted" style="color: #d9534f !important;"></small>
            </div>
            
        </div>

        <div class="form-inline">
            <div class="form-check my-3">
                <input class="form-check-input" type="checkbox" id="medical_test" name="medical_test" 
                {% if doctor.settingsservice.medical_test %}
                    checked
                {% endif %}>
                <label class="form-check-label" for="medical_test">
                  Kích hoạt dịch vụ lưu trữ kết quả xét nghiệm (VNĐ)
                </label>
            </div>
            <div class="form-group mx-sm-3 my-3">
                <label for="medical_test_cost" class="sr-only">Giá tiền</label>
                <input type="text" class="form-control" name="medical_test_cost" id="medical_test_cost" placeholder="Nhập giá tiền" 
                {% if doctor.settingsservice.medical_test_cost %}
                    value="{{ doctor.settingsservice.medical_test_cost }}"
                {% endif %}>
                <small id="alert_medical_test_cost"  class="text-muted" style="color: #d9534f !important;"></small>
            </div>
            
        </div>

        <div class="form-check my-3">
          <input class="form-check-input" type="checkbox" id="medical_test_multi" name="medical_test_multi" 
          {% if doctor.settingsservice.medical_test_multi %}
              checked
          {% endif %}>
          <label class="form-check-label" for="medical_test_multi">
            Kích hoạt lưu trữ nhiều kết quả xét nghiệm trong 1 lần khám
          </label>
        </div>

        <div class="form-inline">
          <div class="my-3">
            <p class="mt-2">Nhập giá tiền khám bệnh (VNĐ)</p>
          </div>
          <div class="form-group mx-sm-3 my-3">
            <label for="medical_examination_cost" class="sr-only">Giá tiền</label>
            <input type="text" class="form-control" name="medical_examination_cost" id="medical_examination_cost" placeholder="Nhập giá tiền" 
            {% if doctor.settingsservice.medical_examination_cost %}
                value="{{ doctor.settingsservice.medical_examination_cost }}"
            {% endif %}>
            <small id="alert_medical_examination_cost"  class="text-muted" style="color: #d9534f !important;"></small>
        </div>
        </div>

        <div class="form-inline">
          <div class="my-3">
            <p class="mt-2">Nhập giá tiền khám bệnh online (VNĐ)</p>
          </div>
          <div class="form-group mx-sm-3 my-3">
            <label for="examination_online_cost" class="sr-only">Giá tiền</label>
            <input type="text" class="form-control" name="examination_online_cost" id="examination_online_cost" placeholder="Nhập giá tiền" 
            {% if doctor.settingsservice.examination_online_cost %}
                value="{{ doctor.settingsservice.examination_online_cost }}"
            {% endif %}>
            <small id="alert_examination_online_cost"  class="text-muted" style="color: #d9534f !important;"></small>
        </div>
        </div>

        <div class="form-inline">
            <div class="form-check my-3">
                <input class="form-check-input" type="checkbox" id="password" name="password" 
                {% if doctor.settingsservice.password %}
                    checked
                {% endif %}>
                <label class="form-check-label" for="password">
                  Kích hoạt mật khẩu bảo vệ các chức năng quan trọng
                </label>
            </div>
            <div class="form-group mx-sm-3 my-3">
                <label for="password_field" class="sr-only">Mật khẩu</label>
                <input type="text" class="form-control" name="password_field" id="password_field" placeholder="Nhập mật khẩu" 
                {% if doctor.settingsservice.password_field %}
                    value="{{ doctor.settingsservice.password_field }}"
                {% endif %}>
                <small id="alert_password_field"  class="text-muted" style="color: #d9534f !important;"></small>
            </div>
            
        </div>
        <!-- <div class="form-inline">
          <div class="">
            <label class="my-1" for="">Chọn màu cho giao diện website</label>
            <select class="my-1" id="inlineFormCustomSelectPref" class="pick-color">
              <option selected value="#009688">one</option>
              <option value="#C68E17" style="background-color: #C68E17;">two</option>
              <option value="#184FC7"  style="background-color: #184FC7;">three</option>
            </select>
          </div>
          
        </div> -->

        <button class="btn btn-submit my-3" type="button">Xác nhận</button>
    </form>
</div>

<script>
$(document).ready(function(){

  
  // validate digital
  function ValidateDigit(value) {
      regex = new RegExp("^[1-9][0-9]*$");
      var isValid = regex.test(value);
      return isValid;
  }
  // validate digital
  function ValidateLimit(value) {
      regex = new RegExp("^(?=[\\S]{6,20}$)");
      var isValid = regex.test(value);
      return isValid;
  }

  //  check whenther medical_ultrasonography enabled or not
  if($("#medical_ultrasonography").prop("checked")){
    $("#medical_ultrasonography_cost").prop("disabled",false);
  } else{
    $("#medical_ultrasonography_cost").prop("disabled",true);
  }
  //  check whenther endoscopy enabled or not
  if($("#endoscopy").prop("checked")){
    $("#endoscopy_cost").prop("disabled",false);
  } else{
    $("#endoscopy_cost").prop("disabled",true);
  }
  //  check whenther medical_test enabled or not
  if($("#medical_test").prop("checked")){
    $("#medical_test_cost").prop("disabled",false);
  } else{
    $("#medical_test_cost").prop("disabled",true);
  }
  //  check whenther password protect enabled or not
  if($("#password").prop("checked")){
    $("#password_field").prop("disabled",false);
  } else{
    $("#password_field").prop("disabled",true);
  }

  // enable medical_ultrasonography service
  $("#medical_ultrasonography").click(function(){
    if($("#medical_ultrasonography").prop("checked")){
      $("#medical_ultrasonography_cost").prop("disabled",false);
    } else{
      $("#medical_ultrasonography_cost").prop("disabled",true);
    }
  }); // end click

  // enable endoscopy service
  $("#endoscopy").click(function(){
    if($("#endoscopy").prop("checked")){
      $("#endoscopy_cost").prop("disabled",false);
    } else{
      $("#endoscopy_cost").prop("disabled",true);
    }
  }); // end click

  // enable medical_test service
  $("#medical_test").click(function(){
    if($("#medical_test").prop("checked")){
      $("#medical_test_cost").prop("disabled",false);
    } else{
      $("#medical_test_cost").prop("disabled",true);
    }
  }); // end click

  // enable passwrod protect service
  $("#password").click(function(){
    if($("#password").prop("checked")){
      $("#password_field").prop("disabled",false);
    } else{
      $("#password_field").prop("disabled",true);
    }
  }); // end click

  // submit form
  $(".btn-submit").click(function(){
    var valid = true;
    var medical_ultrasonography_cost = $("#medical_ultrasonography_cost").val();
    var endoscopy_cost = $("#endoscopy_cost").val();
    var medical_test_cost = $("#medical_test_cost").val();
    var password_field = $("#password_field").val();
    var examination_online_cost = $("#examination_online_cost").val();
    var medical_examination_cost = $("#medical_examination_cost").val();
    console.log(medical_ultrasonography_cost);
    console.log(ValidateDigit(""));


    if ($("#medical_ultrasonography").prop("checked")){
      if(medical_ultrasonography_cost !== "" && !ValidateDigit(medical_ultrasonography_cost)){
        valid &= false;
        $("#alert_medical_ultrasonography_cost").text("Giá trị không hợp lệ!");
      } else{
        $("#alert_medical_ultrasonography_cost").text("");
      }
    }

    if ($("#endoscopy").prop("checked")){
      if(endoscopy_cost !== "" && !ValidateDigit(endoscopy_cost)){
        valid &= false;
        $("#alert_endoscopy_cost").text("Giá trị không hợp lệ!");
      } else{
        $("#alert_endoscopy_cost").text("");
      }
    }
    if ($("#medical_test").prop("checked")){
      if(medical_test_cost !== "" && !ValidateDigit(medical_test_cost)){
        valid &= false;
        $("#alert_medical_test_cost").text("Giá trị không hợp lệ!");
      } else{
        $("#alert_medical_test_cost").text("");
      }
    }

    if(examination_online_cost !== "" && !ValidateDigit(examination_online_cost)){
        valid &= false;
        $("#alert_examination_online_cost").text("Giá trị không hợp lệ!");
    } else{
        $("#alert_examination_online_cost").text("");
    }
    
    if(medical_examination_cost !== "" && !ValidateDigit(medical_examination_cost)){
        valid &= false;
        $("#alert_medical_examination_cost").text("Giá trị không hợp lệ!");
    } else{
        $("#alert_medical_examination_cost").text("");
    }

    if ($("#password").prop("checked")){
      if(!ValidateLimit(password_field)){
        valid &= false;
        $("#alert_password_field").text("Mật khẩu không hợp lệ.");
      } else {
        $("#alert_password_field").text("");
      }
    }

    if(valid){
        $("#form_settings").submit(); 
    }  

  })


});
</script>
{% endblock %}