{% extends "base.html" %}
 {% block content %}

 <div class="container">
     <h3 class="my-3">Thông báo file bị lỗi</h3>
     <h5 class="my-3">Danh sách thuốc có thông tin upload không hợp lệ</h5>
     
     
     {% if data_error %}        
     <table class="table">
         <thead>
             <tr>
                 <th>Tên thuốc</th>
                 <th>Tên biệt dược</th>
                 <th>Giá bán (VNĐ)</th>
                 <th>Giá mua (VNĐ)</th>
                 <th>Số lượng</th>
                 <th>Ngày hết hạn</th>
             </tr>
         </thead>
    {% for drug in data_error %}
         <tbody>
             <tr>
                 <td scope="row">{{ drug.0 }}</td>
                 <td>{{ drug.1 }}</td>
                 <td class="number">{{ drug.2 }}</td>
                 <td class="number">{{ drug.3 }}</td>
                 <td class="number">{{ drug.4 }}</td>
                 <td>{{ drug.5 }}</td>
             </tr>
         </tbody>
    {% endfor %}
     </table>     
     {% endif %}
<script>

    $(document).ready(function(){
        // human read number 
        $(".number").each(function() {
            let value = parseInt($(this).text());
            if (typeof(value) === 'number' && !isNaN(value)){
                
                $(this).text(value.toLocaleString());
            }
            
        }); // end each
    });// end ready
</script>
         
 </div>


 {% endblock %}