{% extends "base.html" %} {% block content %}
<div class="container">
    <h3 class="my-3">Thêm thuốc vào toa</h3>
    <table class="table">
        <tbody>
            <tr>
                <th>Tên thuốc</th>
                <td>{{ drug.name }}</td>
            </tr>
            <tr>
                <th>Tên biệt dược</th>
                <td>
                    <a href="{% url 'medicine_edit' pk_doctor drug.pk %}" class="page-link-mix">{{ drug.full_name }}</a>
                </td>
            </tr>
            <tr>
                <th>Số lượng trong kho</th>
                <td class="drug_quantity">{{ drug.quantity }}</td>
            </tr>
            <tr>
                <th>Đơn vị</th>
                <td>{{ drug.unit }}</td>
            </tr>
            <tr>
                <th>Giá bán</th>
                <td class="sale_price">{{ drug.sale_price }}</td>
            </tr>
            
        </tbody>
    </table>

    <form action="{% url 'take_drug' pk_doctor pk_mrecord pk_history drug.pk %}" method="post" id="form_take_drug">
        {% csrf_token %}
        <div class="form-row align-items-center">
            <div class="col-md-4 form-group">
                <label for="dose">Liều lượng</label>
                <input type="text" name="dose" class="form-control" id="dose"
                    placeholder="Mỗi lần dùng bao nhiêu?" 
                    {% if form.dose.value %} 
                    value="{{ form.dose.value }}" 
                    {% endif %}/>
                <span id="alert_dose" style="color: #d9534f;font-size:15px"></span>
            </div>
            <div class="col-md-4 form-group">
                <label for="quantity">Số lượng<span class="required-input">*</span></label>
                <input type="text" name="quantity" class="form-control" id="quantity" placeholder="Số lượng bao nhiêu?" 
                {% if form.quantity.value %} 
                    value="{{ form.quantity.value }}" 
                {% endif %}/>
                <span id="alert_quantity" style="color: #d9534f;font-size:15px">                   
                    {% if form.errors.quantity %}
                        {{ form.errors.quantity.0 }}
                    {% endif %}                        
                </span>
            </div>
            <div class="col-md-4  form-group">
                <label for="time_take_medicine">Đường dùng và Thời gian<span class="required-input">*</span></label>
                <input type="text" name="time_take_medicine" class="form-control" id="time_take_medicine"
                    placeholder="Uống khi nào?" 
                    {% if form.time_take_medicine.value %} 
                    value="{{ form.time_take_medicine.value }}" 
                    {% endif %}/>
                <span id="alert_time_take_medicine" style="color: #d9534f;font-size:15px"></span>
            </div>
        </div>

        <button type="button" class="btn btn-back mt-3">
            <a href="{% url 'prescription_drug' pk_doctor pk_mrecord pk_history %}">Quay về kê toa thuốc</a>
        </button>
        <button type="button" class="btn btn-submit ml-3 mt-3" id="bt_take_drug">
            Thêm
        </button>
    </form>
</div>

<script>
    $(document).ready(function () {
        // validate digital
        function ValidateDigit(value) {
            regex = new RegExp("^[1-9][0-9]*$");
            var isValid = regex.test(value);
            return isValid;
        }
        
        $("#bt_take_drug").click(function () {
            var dose = $("#dose").val();
            var quantity = $("#quantity").val();
            var time_take_medicine = $("#time_take_medicine").val();
            var valid = true;

            // if (dose === ""){
            //     $("#alert_dose").text("");
            // } else if (!ValidateDigit(dose)) {
            //     $("#alert_dose").text("Giá trị nhập không hợp lệ");
            //     valid &= false;
            // } else {
            //     $("#alert_dose").text("");
            // }

            if (!ValidateDigit(quantity)) {
                $("#alert_quantity").text("Giá trị nhập không hợp lệ");
                valid &= false;
            } else {
                $("#alert_quantity").text("");
            }

            if (time_take_medicine === "") {
                $("#alert_time_take_medicine").text("Bạn chưa nhập thời gian uống");
                valid &= false;
            } else {
                $("#alert_time_take_medicine").text("");
            }

            if (valid) {
                $("#form_take_drug").submit();
            }
        }); // end click

        let sale_price = parseInt($(".sale_price").text());
        $(".sale_price").text(sale_price.toLocaleString() + " VNĐ");

        let import_price = parseInt($(".import_price").text());
        $(".import_price").text(import_price.toLocaleString() + " VNĐ");

        // Notify when drug lower than 10
        $(".drug_quantity").each(function () {
            var quantity = $(this).text();
            if (quantity <= 10) {
                if (parseInt(quantity) === 0) {
                    $(this)
                        .css({ color: "#d9534f" })
                        .append("<span> ( Thuốc không có trong kho )</span>");
                    $("#bt_take_drug").attr("disabled", true);
                } else {
                    $(this)
                        .css({ color: "#d9534f" })
                        .append("<span> ( Thuốc trong kho sắp hết! )</span>");
                }
            }
        }); // end each
    }); // end ready
</script>

{% endblock %}