{% extends "base.html" %}
{% load staticfiles %}
 {% block content %}


 <div class="container">
    <div class="row my-4">
        <div class="col-md-9">
          <h2 class="">Hồ sơ khám chữa bệnh</h2>
        </div>
        <div class="col-md-3">
          <button class="btn btn-back">
            <a href="{% url 'medical_record_edit_back_history' doctor.pk mrecord.pk history_edit.pk %}"
              >Sửa hồ sơ</a
            >
          </button>
        </div>
      </div>
     <table class="table">
         <tbody>
             <tr class="table-active">
                 <th>Họ tên</th>
                 <td>{{ mrecord.full_name }}</td>
             </tr>
             <tr class="table-active">
                 <th>Giới tính</th>
                 {% if mrecord.sex %}
                 <td>Nữ</td>
                 {% else %}
                 <td>Nam</td>
                 {% endif %}
             </tr>
             <tr class="table-active">
                 <th>Ngày sinh</th>
                 <td>{{ mrecord.birth_date | date:"Y" }}</td>
             </tr>
             <tr class="table-active">
                <th>Điện thoại</th>
                <td>{{ mrecord.phone }}</td>
            </tr>
             <tr class="table-active">
                 <th>Địa chỉ</th>
                 <td>{{ mrecord.address }}</td>
             </tr>
            
         </tbody>
     </table>

     <h4 class="mt-3"> Nhập lại thông tin lần khám {{ history_edit.date_booked|date:"P D. d-m-Y"  }}</h4>
     <form action="{% url 'medical_record_back_view' doctor.pk mrecord.pk history_edit.pk %}" method="post" id="history_form" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="checkbox" name="is_waiting" id="is_waiting" value="is_waiting">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="PARA">PARA</label>
                <input type="text" class="form-control" id="PARA" name="PARA" placeholder="A-B-C-D" value="{{ form.PARA.value }}">
                <span id="alert_PARA" style="color: #d9534f;font-size:15px"></span>
            </div>
            <div class="form-group col-md-4">
                <label for="last_menstrual_period">Kinh cuối</label>
                <input type="text" class="form-control" id="last_menstrual_period" name="last_menstrual_period" placeholder="Ngày / tháng" value="{{ form.last_menstrual_period.value }}" autocomplete="off">
                <span id="alert_last_menstrual_period" style="color: #d9534f;font-size:15px"></span>
            </div>
            <div class="form-group col-md-4">
                <label for="contraceptive">Ngừa thai<span class="required-input">*</span></label>
                <select id="contraceptive" class="form-control" name="contraceptive">
                
                <option 
                {% if form.contraceptive.value == 'Thuốc' %}
                selected
                {% endif %}
                 >Thuốc</option>
                <option
                {% if form.contraceptive.value == 'Vòng' %}
                selected
                {% endif %}
                >Vòng</option>
                <option
                {% if form.contraceptive.value == 'BCS' %}
                selected
                {% endif %}
                >BCS</option>
                <option
                {% if form.contraceptive.value == 'Không' %}
                selected
                {% endif %}>Không</option>
                </select>
                <span id="alert_contraceptive" style="color: #d9534f;font-size:15px"></span>
            </div>
            
            <div class="form-group col-md-4" id="blood_pressure_field" 
                {% if not settings_service.blood_pressure %}
                style="display: none;"   
                {% endif %}
            >
                <label for="blood_pressure">Huyết áp<span class="required-input">*</span></label>
                <input type="text" class="form-control" id="blood_pressure" name="blood_pressure" placeholder=""  value="{{ history_edit.blood_pressure }}">
                <span id="alert_blood_pressure" style="color: #d9534f;font-size:15px"></span>
            </div>         
            <div class="form-group col-md-4" id="glycemic_field" 
                {% if not settings_service.glycemic %}
                style="display: none;"   
                {% endif %}
            >
                <label for="glycemic">Chỉ số đường huyết<span class="required-input">*</span></label>
                <input type="text" class="form-control" id="glycemic" name="glycemic" placeholder=""  value="{{ history_edit.glycemic }}">
                <span id="alert_glycemic" style="color: #d9534f;font-size:15px"></span>
            </div>         
            <div class="form-group col-md-4" id="ph_meter_field"            
                {% if not settings_service.ph_meter %}
                style="display: none;"   
                {% endif %}                
            >
                <label for="ph_meter">Giấy quỳ pH<span class="required-input">*</span></label>
                <input type="text" class="form-control" id="ph_meter" name="ph_meter" placeholder=""  value="{{ history_edit.ph_meter }}">
                <span id="alert_ph_meter" style="color: #d9534f;font-size:15px"></span>
            </div>         
            <div class="form-group col-md-4" id="weight_field"
                {% if not settings_service.weight %}
                style="display: none;"   
                {% endif %}
            >
                <label for="weight">Cân nặng<span class="required-input">*</span></label>
                <input type="text" class="form-control" id="weight" name="weight" placeholder=""  value="{{ history_edit.weight }}">
                <span id="alert_weight" style="color: #d9534f;font-size:15px"></span>
            </div> 
        </div>

        <div class="mb-2">
            <div>
                <label class="custom_radio mr-5">
                    <input type="radio" name="service" value="khám phụ sản" id="phu_san_radio"
                    {% if form.service.value == 'khám phụ sản'%}
                    checked
                    {% endif %}>
                    <span>Khám phụ sản</span>
                </label>
                <label class="custom_radio">
                    <input type="radio" name="service" value="khám phụ khoa" id="phu_khoa_radio"
                    id="phu_san_radio"
                    {% if form.service.value == 'khám phụ khoa'%}
                    checked
                    {% endif %}>
                    <span>Khám phụ khoa</span>
                </label>
            </div>
        </div>

        <div class="mb-3 ml-3" id="phu_san">
            <div>
                <div class="form-check check_service">
                    <input class="form-check-input" type="checkbox" value="Cổ tử cung" id="co_tu_cung_ps" name="co_tu_cung_ps"
                    {% if history_edit.co_tu_cung_ps %}
                    checked
                    {% endif %}>
                    <label class="form-check-label" for="co_tu_cung_ps">
                        Cổ tử cung
                    </label>
                </div>
                <div class="form-group ml-4 mt-1">
                    <input type="text" class="form-control" name="note_co_tu_cung_ps" placeholder="Ghi chú về cổ tử cung..."
                    {% if history_edit.note_co_tu_cung_ps %}
                    value="{{ history_edit.note_co_tu_cung_ps }}"
                    {% endif %}>
                </div>
            </div>
            <div>
                <div class="form-check check_service">
                    <input class="form-check-input" type="checkbox" value="Tim thai" id="tim_thai_ps" name="tim_thai_ps"
                    {% if history_edit.tim_thai_ps %}
                    checked
                    {% endif %}>
                    <label class="form-check-label" for="tim_thai_ps">
                        Tim thai
                    </label>
                </div>
                <div class="form-group ml-4 mt-1">
                    <input type="text" class="form-control" name="note_tim_thai_ps" placeholder="Ghi chú về tim thai..."
                    {% if history_edit.note_tim_thai_ps %}
                    value="{{ history_edit.note_tim_thai_ps }}"
                    {% endif %}>
                </div>
            </div>
            
            <div>
               <div class="form-check check_service">
                    <input class="form-check-input" type="checkbox" value="Cân go" id="can_go_ps" name="can_go_ps"
                    {% if history_edit.can_go_ps %}
                    checked
                    {% endif %}>
                    <label class="form-check-label" for="can_go_ps">
                    Cơn gò
                    </label>
                </div> 
                <div class="form-group ml-4 mt-1">
                    <input type="text" class="form-control" name="note_con_go_ps" placeholder="Ghi chú về cơn gò..."
                    {% if history_edit.note_con_go_ps %}
                    value="{{ history_edit.note_con_go_ps }}"
                    {% endif %}>
                </div>
            </div>
            
        </div>

        <div class="mb-3 ml-3" id="phu_khoa">
            <div>
                <div class="form-check check_service">
                    <input class="form-check-input" type="checkbox" value="Cổ tử cung" id="co_tu_cung_pk" name="co_tu_cung_pk"
                    {% if history_edit.co_tu_cung_pk %}
                    checked
                    {% endif %}>
                    <label class="form-check-label" for="co_tu_cung_pk">
                        Cổ tử cung
                    </label>
                </div>
                <div class="form-group ml-4 mt-1">
                    <input type="text" class="form-control" name="note_co_tu_cung_pk" placeholder="Ghi chú về cổ tử cung..."
                    {% if history_edit.note_co_tu_cung_pk %}
                    value="{{ history_edit.note_co_tu_cung_pk }}"
                    {% endif %}>
                </div>
            </div>
            <div>
                <div class="form-check check_service">
                    <input class="form-check-input" type="checkbox" value="Âm đạo" id="am_dao_pk" name="am_dao_pk"
                    {% if history_edit.am_dao_pk %}
                    checked
                    {% endif %}>
                    <label class="form-check-label" for="am_dao_pk">
                        Âm đạo
                    </label>
                </div>
                <div class="form-group ml-4 mt-1">
                    <input type="text" class="form-control" name="note_am_dao_pk" placeholder="Ghi chú về âm đạo..."
                    {% if history_edit.note_am_dao_pk %}
                    value="{{ history_edit.note_am_dao_pk }}"
                    {% endif %}>
                </div>
            </div>
                
            </div>

    <div class="mb-3" id="medical_ultrasonography_field" 
            {% if not settings_service.medical_ultrasonography %}
            style="display: none;"   
            {% endif %}
        >
        <div class="form-group mb-0">
            <label for="medical_ultrasonography">Ghi chú kêt quả siêu âm</label>
            <input type="text" class="form-control" id="medical_ultrasonography" name="medical_ultrasonography" placeholder=""  value="{{ history_edit.medical_ultrasonography }}">
            <span id="alert_medical_ultrasonography" style="color: #d9534f;font-size:15px"></span>
        </div>
        {% if history_edit.medical_ultrasonography_file %}
        <a class="btn btn-link view-pdf page-link-mix" href="{{ history_edit.medical_ultrasonography_file.url }}">Xem kết quả siêu âm</a>
        {% endif %}
        <div class="form-group">
            <label for="medical_ultrasonography_file">Upload lại kết quả siêu âm</label>
            <input
              type="file"
              class="form-control-file"
              id="medical_ultrasonography_file"
              name="medical_ultrasonography_file"
            />
            <span id="alert_medical_ultrasonography_file" style="color: red;font-size:15px"></span>
          </div>
    </div>
    <div class="mb-3" id="endoscopy_field"
            {% if not settings_service.endoscopy %}
            style="display: none;"   
            {% endif %}>
        <div class="form-group mb-0">
            <label for="endoscopy">Ghi chú kêt quả nội soi</label>
            <input type="text" class="form-control" id="endoscopy" name="endoscopy" placeholder=""  value="{{ history_edit.endoscopy }}">
            <span id="alert_endoscopy" style="color: #d9534f;font-size:15px"></span>
        </div>
        {% if history_edit.endoscopy_file %}
        <a class="btn btn-link view-pdf page-link-mix" href="{{ history_edit.endoscopy_file.url }}">Xem kết quả nội soi</a>
        {% endif %}
        <div class="form-group">
            <label for="endoscopy_file">Upload lại kết quả nội soi</label>
            <input
              type="file"
              class="form-control-file"
              id="endoscopy_file"
              name="endoscopy_file"
            />
            <span id="alert_endoscopy_file" style="color: red;font-size:15px"></span>
          </div>
    </div>
    <div class="mb-3" id="medical_test_field"
            {% if not settings_service.medical_test %}
            style="display: none;"   
            {% endif %}>
        <div class="form-group mb-0">
            <label for="medical_test">Ghi chú kêt quả xét nghiệm</label>
            <input type="text" class="form-control" id="medical_test" name="medical_test" placeholder=""  value="{{ history_edit.medical_test }}">
            <span id="alert_medical_test" style="color: #d9534f;font-size:15px"></span>
        </div>
        {% if history_edit.medical_test_file %}
        <a class="btn btn-link view-pdf page-link-mix" href="{{ history_edit.medical_test_file.url }}">Xem kết quả xét nghiệm</a>
        {% endif %}
        <div class="form-group">
            <label for="medical_test_file">Upload lại kết quả xét nghiệm</label>
            <input
              type="file"
              class="form-control-file"
              id="medical_test_file"
              name="medical_test_file"
            />
            <span id="alert_medical_test_file" style="color: red;font-size:15px"></span>
          </div>
    </div>
        <div class="form-group">
            <label for="disease_symptom">Triệu chứng</label>
            <textarea class="form-control" id="disease_symptom" name="disease_symptom" rows="3">{{ form.disease_symptom.value }}</textarea>
            <span id="alert_disease_symptom" style="color: #d9534f;font-size:15px"></span>
          </div>
        <div class="form-group">
            <label for="diagnostis">Chẩn đoán</label>
            <textarea class="form-control" id="diagnostis" name="diagnostis" rows="3">{{ form.diagnostis.value }}</textarea>
            <span id="alert_diagnostis" style="color: #d9534f;font-size:15px"></span>
          </div>
        <button class="btn btn-submit btn_history mb-4" type="button">Kê thuốc</button>
        <button class="btn btn-finished btn_is_waiting float-right mb-4">Lưu hồ sơ chuyển bác sĩ khám</button>
     </form>

     {% if histories %}
     <h4>Các lần đi khám bệnh</h4>
     {% for history in histories %}
     <div class="box-shadow rounded bg-light p-3 my-3">
         <h6 style="cursor: pointer" class=" pb-2 mb-0"><i class="fa fa-plus"></i><i class="fa fa-minus"></i> Lần khám vào thời gian -- <i class="fa fa-calendar"></i>
            {% if history.date_booked %}
            {{ history.date_booked | date:"H:i D. d-m-Y" }}
            {% else %}
            {{ history.date | date:"H:i D. d-m-Y" }}
            {% endif %}
            </h6>
         <div class="info_basic">
            <div class="media pt-3 d-flex justify-content-between">
           <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
           <strong class="d-block text-gray-dark">PARA</strong>
           {% if history.PARA %}
           {{ history.PARA }}
           {% else %}
           Bỏ trống
           {% endif %}
           </p>
           <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray text-center">
           <strong class="d-block text-gray-dark">Kinh cuối</strong>
           {% if history.last_menstrual_period %}
            {{ history.last_menstrual_period | date:"d-m-Y" }}
            {% else %}
             Bỏ trống
           {% endif %}
           </p>
           <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray text-right">
           <strong class="d-block text-gray-dark">Ngừa thai</strong>
           
           {% if history.contraceptive != "Lựa chọn..." %}
              {{ history.contraceptive }} 
           {% endif %}          
           </p>
           </div>
       </div>

       {% if settings_service.blood_pressure %}
        <div class="media pt-3  info_blood_pressure" id="">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Huyết áp</strong>
                {{ history.blood_pressure }}
            </p>
        </div> 
        {% endif %}       
        {% if settings_service.glycemic %}
        <div class="media pt-3 info_glycemic">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Đường huyết</strong>
                {{ history.glycemic }}
            </p>
        </div>   
        {% endif %}     
        {% if settings_service.weight %}
           <div class="media pt-3  info_weight">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Cân nặng</strong>
                {{ history.weight }}
            </p>
        </div>  
        {% endif %}
        {% if settings_service.ph_meter %}
           <div class="media pt-3 info_ph_meter">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Độ pH</strong>
                {{ history.ph_meter }}
            </p>
        </div>        
        {% endif %}
        {% if settings_service.medical_ultrasonography %}
            <div class="info_medical_ultrasonography">
                <div class="media pt-3 d-flex justify-content-between">
               <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
               <strong class="d-block text-gray-dark">Siêu âm</strong>
               {% if history.medical_ultrasonography %}
                {{ history.medical_ultrasonography }}
                {% else %}
                Bỏ trống
                {% endif %}
               </p>
               <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray text-right">
                <strong class="d-block text-gray-dark">File siêu âm</strong>
                {% if history.medical_ultrasonography_file %}
                <a class="view-pdf page-link-mix" href="{{ history.medical_ultrasonography_file.url }}">Xem file</a>
                {% else %}
                Không có file
                {% endif %}
               </p>
               </div>
            </div>   
        {% endif %}
        {% if settings_service.endoscopy %}
           <div class="info_endoscopy">
                <div class="media pt-3 d-flex justify-content-between">
               <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
               <strong class="d-block text-gray-dark">Nội soi</strong>
               {% if history.endoscopy %}
                {{ history.endoscopy }}
                {% else %}
                Bỏ trống
                {% endif %}
               </p>
               <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray text-right">
                <strong class="d-block text-gray-dark">File nội soi</strong>
                {% if history.endoscopy_file %}
                <a class="view-pdf page-link-mix" href="{{ history.endoscopy_file.url }}">Xem file</a>
                {% else %}
               Không có file
                {% endif %}
               </p>
               </div>
            </div>    
        {% endif %}
        {% if settings_service.medical_test %}
        <div class="info_medical_test">
        <div class="media pt-3 d-flex justify-content-between">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">Xét nghiệm</strong>
            {% if history.medical_test %}
            {{ history.medical_test }}
            {% else %}
            Bỏ trống
            {% endif %}
            </p>
            <p
            class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray text-right"
            >
            <strong class="d-block text-gray-dark">File xét nghiệm</strong>
            {% if history.medical_test_file %}
            <a
                class="view-pdf page-link-mix"
                href="{{ history.medical_test_file.url }}"
                >Xem file</a
            >
            {% else %}
            Không có file
            {% endif %}
            </p>
        </div>
        </div>
        {% endif %}
        <div class="media pt-3 info_service" >
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
               <strong class="d-block text-gray-dark mb-2">{{ history.service|title }}</strong>
               {% if history.co_tu_cung_ps %}
               <p class="mb-1">-Cổ tử cung: {{ history.note_co_tu_cung_ps }}</p>                
               {% endif %}
               {% if history.tim_thai_ps %}
               <p class="mb-1">-Tim thai: {{ history.note_tim_thai_ps }}</p> 
               {% endif %}
               {% if history.can_go_ps %}
               <p class="mb-1">-Cơn gò: {{ history.note_con_go_ps }}</p>
               {% endif %}
               {% if history.co_tu_cung_pk %}
               <p class="mb-1">-Cổ tử cung: {{ history.note_co_tu_cung_pk }}</p>
               {% endif %}
               {% if history.am_dao_pk %}
               <p class="mb-1">-Âm đạo: {{ history.note_am_dao_pk }}</p>
               {% endif %}
            </div>
        </div>
         <div class="media pt-3 info_disease_symptom">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                   <strong class="d-block text-gray-dark">Triệu chứng</strong>
                   {{ history.disease_symptom }}
                </p>
            </div>
            <div class="media pt-3 info_diagnostis">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                   <strong class="d-block text-gray-dark">Chẩn đoán</strong>
                   {{ history.diagnostis }}
                </p>
            </div>
            <div class="info_bt">
            <small class="text-right d-flex justify-content-between mt-3">
                <a href="{% url 'export_final_info_excel' doctor.pk mrecord.pk history.pk %}" style="color: #00796B">Xuất file excel</a>
                <a href="{% url 'medical_record_back_view' doctor.pk mrecord.pk history.pk %}" style="color: #7C4DFF">Sửa lịch sử</a>
                <a href="{% url 'medical_history_del' doctor.pk mrecord.pk history.pk %}" style="color: #d9534f">Xoá lịch sử</a>
            </small>
           </div>
     </div>
     {% endfor %}
     {% endif %}

     
 </div>

<script src="{% static 'js/easy-modal-plugin.js' %}"></script>
 <script>
     $(document).ready(function(){
         // validate datetime format dd/mm/Y
         function ValidateDate(value){
        regex = new RegExp("^([0-2]\\d{1}|3[0-1])\\/(0\\d{1}|1[0-2])\\/(19|20)\\d{2}$");
        var isValid = regex.test(value);
        return isValid;
        }

        var info_basic = $(".info_basic");
        var info_service = $(".info_service");
        var info_blood_pressure = $(".info_blood_pressure");
        var info_glycemic = $(".info_glycemic");
        var info_weight = $(".info_weight");
        var info_ph_meter = $(".info_ph_meter");
        var info_medical_ultrasonography = $(".info_medical_ultrasonography");
        var info_endoscopy = $(".info_endoscopy");
        var info_medical_test = $(".info_medical_test");
        var info_disease_symptom = $(".info_disease_symptom");
        var info_diagnostis = $(".info_diagnostis");
        var info_bt = $(".info_bt");

        $(".fa-minus").hide();
        info_basic.hide();
        info_service.hide();
        info_blood_pressure.hide();
        info_glycemic.hide();
        info_weight.hide();
        info_ph_meter.hide();
        info_medical_ultrasonography.hide();
        info_endoscopy.hide();
        info_medical_test.hide();
        info_disease_symptom.hide();
        info_diagnostis.hide();
        info_bt.hide();

        $("body").on("click","h6",function(){
            var fa_minus = $(this).children(".fa-minus");
            var fa_plus = $(this).children(".fa-plus");
            var info_basic = $(this).next();
            var info_service = $(this).siblings(".info_service");
            var info_blood_pressure = $(this).siblings(".info_blood_pressure");
            var info_glycemic = $(this).siblings(".info_glycemic");
            var info_weight = $(this).siblings(".info_weight");
            var info_ph_meter = $(this).siblings(".info_ph_meter");
            var info_medical_ultrasonography = $(this).siblings(".info_medical_ultrasonography");
            var info_endoscopy = $(this).siblings(".info_endoscopy");
            var info_medical_test = $(this).siblings(".info_medical_test");
            var info_disease_symptom = $(this).siblings(".info_disease_symptom ");
            var info_diagnostis = $(this).siblings(".info_diagnostis");
            var info_bt = $(this).siblings(".info_bt");

            if (fa_minus.is(":hidden")) {
            $(this).addClass('border-bottom border-gray')
			fa_minus.show();
			fa_plus.hide();
			info_basic.show();
            info_service.show();
            info_blood_pressure.show();
            info_glycemic.show();
            info_weight.show();
            info_ph_meter.show();
            info_medical_ultrasonography.show();
            info_endoscopy.show();
            info_medical_test.show();
            info_disease_symptom.show();
            info_diagnostis.show();
            info_bt.show();
		} else {
			$(this).removeClass('border-bottom border-gray')
			fa_minus.hide();
			fa_plus.show();
			info_basic.hide();
            info_service.hide();
            info_blood_pressure.hide();
            info_glycemic.hide();
            info_weight.hide();
            info_ph_meter.hide();
            info_medical_ultrasonography.hide();
            info_endoscopy.hide();
            info_medical_test.hide();
            info_disease_symptom.hide();
            info_diagnostis.hide();
            info_bt.hide();
		}
        }); // end click

        if($("#phu_san_radio").prop("checked")){
                $("#phu_san").show();
                $("#phu_khoa").hide();
            } else {
                $("#phu_san").hide();
                $("#phu_khoa").show();
            }
        // choose phu san or phu khoa
        $("#phu_san_radio,#phu_khoa_radio").click(function(){
            if($("#phu_san_radio").prop("checked")){
                $("#phu_san").show();
                $("#phu_khoa").hide();
            } else {
                $("#phu_san").hide();
                $("#phu_khoa").show();
            }
        });// end click


        $(".check_service input:first-child").each(function(){
            console.log($(this));
            if($(this).prop("checked")){
                $(this).parent().next().show();
            } else{
                $(this).parent().next().hide();
            }
        }); // end each

        // check check_service

        $(".check_service input:first-child").click(function(){
            if($(this).prop("checked")){
                $(this).parent().next().show();
            } else{
                $(this).parent().next().hide();
            }
        }); // end click

        // date picker
        $("#last_menstrual_period").datepicker({
        dateFormat: "dd/mm/yy",
        changeMonth: true,
        // changeYear: true,
        // yearRange:"-90:+0",
        monthNames: ["1","2","3","4","5","6","7","8","9","10","11","12"],
        monthNamesShort: ["1","2","3","4","5","6","7","8","9","10","11","12"]
        });// end datepicker

        $("#is_waiting").hide();

        $(".btn_is_waiting").click(function(){
            $("#is_waiting").prop("checked",true);
            console.log($("#is_waiting").is(":checked"));
            $(this).prop("disabled",true);
            $("#history_form").submit();
        }); // edn click

        $(".btn_history").click(function(){
            var last_menstrual_period = $("#last_menstrual_period").val();
            var contraceptive = $("#contraceptive").val();
            var PARA = $("#PARA").val();

            var blood_pressure_field = $("#blood_pressure_field").is(":hidden");
            var blood_pressure = $("#blood_pressure").val();

            var glycemic_field = $("#glycemic_field").is(":hidden");
            var glycemic = $("#glycemic").val();

            var ph_meter_field = $("#ph_meter_field").is(":hidden");
            var ph_meter = $("#ph_meter").val();

            var weight_field = $("#weight_field").is(":hidden");
            var weight = $("#weight").val();

            var medical_ultrasonography_field = $("#medical_ultrasonography_field").is(":hidden");
            var medical_ultrasonography = $("#medical_ultrasonography").val();

            var endoscopy_field = $("#endoscopy_field").is(":hidden");
            var endoscopy = $("#endoscopy").val();

            var medical_test_field = $("#medical_test_field").is(":hidden");
            var medical_test = $("#medical_test").val();
            
            var disease_symptom = $('#disease_symptom').val();
            var diagnostis = $("#diagnostis").val();

            var valid = true;

            // if(PARA ===""){
            // $("#alert_PARA").text("Bạn chưa nhập PARA");
            // valid &= false;
            // } else{
            //     $("#alert_PARA").text("");
            // }
            // if(disease_symptom ===""){
            // $("#alert_disease_symptom").text("Bạn chưa nhập triệu chứng");
            // valid &= false;
            // } else{
            //     $("#alert_disease_symptom").text("");
            // }
            // if(diagnostis ===""){
            // $("#alert_diagnostis").text("Bạn chưa nhập chuẩn đoán");
            // valid &= false;
            // } else{
            //     $("#alert_diagnostis").text("");
            // }
            if(contraceptive ==="Lựa chọn..."){
            $("#alert_contraceptive").text("Bạn chưa nhập cách ngừa thai");
            valid &= false;
            } else{
                $("#alert_contraceptive").text("");
            }

            if(!blood_pressure_field){
                if(blood_pressure ===""){
                    $("#alert_blood_pressure").text("Bạn chưa nhập thông tin huyết áp");
                    valid &= false;
                    } else{
                        $("#alert_blood_pressure").text("");
                } 
            }
            if(!glycemic_field){
                if(glycemic ===""){
                    $("#alert_glycemic").text("Bạn chưa nhập thông tin đường huyết");
                    valid &= false;
                    } else{
                        $("#alert_glycemic").text("");
                } 
            }
            if(!ph_meter_field){
                if(ph_meter ===""){
                    $("#alert_ph_meter").text("Bạn chưa nhập thông tin pH");
                    valid &= false;
                    } else{
                        $("#alert_ph_meter").text("");
                } 
            }
            if(!weight_field){
                if(weight ===""){
                    $("#alert_weight").text("Bạn chưa nhập cân nặng");
                    valid &= false;
                    } else{
                        $("#alert_weight").text("");
                } 
            }
            // if(!medical_ultrasonography_field){
            //     if(medical_ultrasonography ===""){
            //         $("#alert_medical_ultrasonography").text("Bạn chưa nhập thông tin siêu âm");
            //         valid &= false;
            //         } else{
            //             $("#alert_medical_ultrasonography").text("");
            //     } 
            // }
            // if(!endoscopy_field){
            //     if(endoscopy ===""){
            //         $("#alert_endoscopy").text("Bạn chưa nhập thông tin nội soi");
            //         valid &= false;
            //         } else{
            //             $("#alert_endoscopy").text("");
            //     } 
            // }

            // if (!medical_test_field) {
            //     if (medical_test === "") {
            //     $("#alert_medical_test").text("Bạn chưa nhập thông tin xét nghiệm");
            //     valid &= false;
            //     } else {
            //     $("#alert_medical_test").text("");
            //     }
            // }

            // if(!ValidateDate(last_menstrual_period)){
            //     $("#alert_last_menstrual_period").text("Ngày không hợp lệ");
            //     valid &= false;
            // } else{
            //     $("#alert_last_menstrual_period").text("");
            // }

            if (valid){
                $(this).prop("disabled",true);
                $("#history_form").submit();
            }
            
        }); // end click

        // modal plugin 
        $(function(){    
            $('.view-pdf').on('click',function(){
                var pdf_link = $(this).attr('href');
                console.log(pdf_link);
                // var iframe = '<div class="iframe-container"><iframe src="'+pdf_link+'"></iframe></div>'
                // var iframe = '<object data="'+pdf_link+'" type="application/pdf"><embed src="'+pdf_link+'" type="application/pdf" /></object>'        
                var iframe = '<object type="application/pdf" data="'+pdf_link+'" width="100%" height="600">No Support</object>'
                $.createModal({
                    title:'Xem file',
                    message: iframe,
                    closeButton:true,
                    scrollable:false
                });
                return false;        
            });    
        }); //end modal

     }); // end ready
 </script>

 {% endblock %}