{% extends "base.html" %} {% block content %}

<div class="container">
  <h2 class="mt-3">Kê toa thuốc</h2>
  <div class="row">
    <div class="input-group mb-3 search_drug_form col-8">
    <input
      type="text"
      class="form-control"
      placeholder="Nhập tên thuốc cần tìm"
      id="search_drug"
      autocomplete="off"
    />
    <div class="input-group-append">
      <span class="input-group-text btn-finished" id="basic-addon2"
        >Tìm thuốc</span
      >
    </div>
  </div>
  <div class="col-4">
    <!-- Button trigger modal -->
  <button type="button" class="btn btn-finished" data-toggle="modal" data-target="#exampleModal">
    Thêm thuốc
  </button>
  </div>
    
  </div>

  

  {% if medicine_list %}

  <h6 class="artical_search">Danh sách thuốc tìm kiếm</h6>
  <div class="table_search">
    <table class="table">
      <thead>
        <tr>
          <th>Tên biệt dược</th>
          <th>Số lượng</th>
          <th>Giá bán (VNĐ)</th>
          <th>Giá mua (VNĐ)</th>
        </tr>
      </thead>

      <tbody>
        {% for drug in medicine_list %}
        <tr>
          <td style="display: none">{{ drug.name }}</td>
          <td scope="row">
            <a
              class="page-link-mix"
              href="{% url 'take_drug' pk_doctor pk_mrecord pk_history drug.pk %}"
              >{{ drug.full_name }}</a
            >
          </td>
          <td>{{ drug.quantity }}</td>
          <td class="sale_price">{{ drug.sale_price }}</td>
          <td class="import_price">{{ drug.import_price }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}

  {% if history.prescriptiondrug_set.all or history.prescriptiondrugoutstock_set.all %}
  <h6>Danh sách thuốc đã thêm vào toa</h6>

  <table class="table text-center">
    <thead>
      <tr>
        <th>Tên biệt dược</th>
        <th>Liều lượng</th>
        <th>Số lượng</th>
        <th>Giá tiền</th>
        <th>Cách dùng</th>
        <th>Xóa khỏi toa</th>
      </tr>
    </thead>
    {% for drug in history.prescriptiondrug_set.all %}
    <tbody>
      <tr>
        <td scope="row">{{ drug.medicine.full_name }}</td>
        <td>{{ drug.dose }}</td>
        <td>{{ drug.quantity }}</td>
        <td class="cost_drug">{{ drug.cost }}</td>
        <td>{{ drug.time_take_medicine }}</td>
        <td>
          <a
            class="icon_remove"
            href="{% url 'remove_drug' pk_doctor pk_mrecord pk_history drug.pk %}"
            ><i class="fa fa-times-circle"></i
          ></a>
        </td>
      </tr>
    </tbody>
    {% endfor %}

    {% for drug in history.prescriptiondrugoutstock_set.all %}
    <tbody>
      <tr>
        <td scope="row">{{ drug.name }}</td>
        <td>{{ drug.dose }}</td>
        <td>{{ drug.quantity }}</td>
        <td class="cost_drug">{{ drug.cost }}</td>
        <td>{{ drug.time_take_medicine }}</td>
        <td>
          <a
            class="icon_remove"
            href="{% url 'remove_drug_out_stock' pk_doctor pk_mrecord pk_history drug.pk %}"
            ><i class="fa fa-times-circle"></i
          ></a>
        </td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
  {% else %}
  <h5 class="mt-3">Chưa thêm thuốc vào toa!</h5>
  {% endif %}

  <button class="btn btn-back mt-4">
    <a
      href="{% url 'medical_record_back_view' pk_doctor pk_mrecord pk_history %}"
      >Quay lại</a
    >
  </button>
  <button class="btn btn-submit ml-3 mt-4" type="button">
    <a href="{% url 'final_info' pk_doctor pk_mrecord pk_history %}"
      >Tiếp theo</a
    >
  </button>
  <button class="btn btn-del float-right mt-4" type="button">
    <a href="{% url 'medical_history_del' pk_doctor pk_mrecord pk_history %}"
      >Huỷ</a
    >
  </button>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm thuốc (thuốc không có trong kho)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'prescription_drug' pk_doctor pk_mrecord pk_history %}" id="add_drug_form" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="name">Tên thuốc<span class="required-input">*</span></label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
            />
            <span id="alert_name" style="color: red;font-size:15px"></span>
          </div>
          <div class="form-group">
            <label for="dose">Liều lượng<span class="required-input">*</span></label>
            <input
              type="text"
              class="form-control"
              id="dose"
              name="dose"
            />
            <span id="alert_dose" style="color: red;font-size:15px"></span>
          </div>
          <div class="form-group">
            <label for="quantity">Số lượng<span class="required-input">*</span></label>
            <input
              type="text"
              class="form-control"
              id="quantity"
              name="quantity"
            />
            <span id="alert_quantity" style="color: red;font-size:15px"></span>
          </div>
          <div class="form-group">
            <label for="time_take_medicine">Cách dùng<span class="required-input">*</span></label>
            <input
              type="text"
              class="form-control"
              id="time_take_medicine"
              name="time_take_medicine"
            />
            <span id="alert_time_take_medicine" style="color: red;font-size:15px"></span>
          </div>
          <div class="form-group">
            <label for="cost">Giá tiền</label>
            <input
              type="text"
              class="form-control"
              id="cost"
              name="cost"
              placeholder="Nhập giá tiền hoặc để trống"
            />
            <span id="alert_cost" style="color: red;font-size:15px"></span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-finished submit-form">Thêm</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {

    // validate digital
    function ValidateDigit(value) {
      // regex = new RegExp("^[1-9][0-9]*$");
      regex = new RegExp("^[0-9]*$");
      var isValid = regex.test(value);
      return isValid;
    }
    // submit form add drug
    $(".submit-form").click(function(){
      var name = $("#name").val();

      var dose = $("#dose").val();
      var time_take_medicine = $("#time_take_medicine").val();
      var cost = $("#cost").val();
      var quantity = $("#quantity").val();
      var valid = true;

      if (name === "") {
        $("#alert_name").text("Bạn nên nhập tên thuốc");
        valid &= false;
      } else {
        $("#alert_name").text("");
      }
      if (dose === "") {
        $("#alert_dose").text("Bạn nên nhập liều lượng thuốc");
        valid &= false;
      } else {
        $("#alert_dose").text("");
      }
      if (time_take_medicine === "") {
        $("#alert_time_take_medicine").text("Bạn nên nhập cách dùng thuốc");
        valid &= false;
      } else {
        $("#alert_time_take_medicine").text("");
      }
      if (quantity === "") {
        $("#alert_quantity").text("Bạn nên nhập số lượng thuốc");
        valid &= false;
      } else {
        $("#alert_quantity").text("");
      }
      if (cost !== "") {
        if(!ValidateDigit(cost)){
          $("#alert_cost").text("Bạn nên nhập số tiền hoặc để trống");
          valid &= false;
        } else {
          $("#alert_cost").text("");
        }
      } 

      if (valid) {
        $(this).prop("disabled",true);
        $("#add_drug_form").submit();
      }
    }); // submit form

    $(".sale_price").each(function() {
      let cost = parseInt($(this).text());
      $(this).text(cost.toLocaleString());
    }); // end each
    $(".import_price").each(function() {
      let cost = parseInt($(this).text());
      $(this).text(cost.toLocaleString());
    }); // end each

    $(".cost_drug").each(function() {
      if ($(this).text()===""){
        $(this).text("0 VNĐ")
      } else{
        let cost = parseInt($(this).text());
      $(this).text(cost.toLocaleString() + " VNĐ");
      }
      
    }); // end each

    // search drug
    let artical_search = $(".artical_search");
    let table_search = $(".table_search");
    let medicine_list = $(".table_search tbody tr");
    artical_search.hide();
    table_search.hide();
    search_drug();

    // function search drug
    function search_drug() {
      $("#search_drug").focus(function() {
        $(this).keyup(function() {
          let value_search = $(this)
            .val()
            .trim()
            .toString();
          

          if (value_search === "") {
            table_search.hide();
            artical_search.hide();
          } else {
            artical_search.show();
            table_search.show();
            medicine_list.hide();
            let show_hide = false;
            medicine_list.each(function() {
              let row = $(this);
              let full_name = $(this)
                .find("td a")
                .eq(0);
              let name = $(this).find("td").eq(0);
              let array = [full_name,name]
              // console.log(full_name.text());
              // console.log(name.text());

              for (let i =0;i<array.length;i++){
                if (
                array[i].text().toLowerCase().includes(value_search.toLowerCase())
              ) {
                row.show();
                console.log(value_search);
                show_hide = true;
                break;
                
              } else {
                row.hide();
              }
              if (!show_hide) {
                artical_search.hide();
                table_search.hide();
                
              }else{
                artical_search.show();
                table_search.show();
              }
              } // end for
          
              
            }); //end each
          }
        }); // end keyup
      }); // end focus
    } // end func
  }); // end ready
</script>

{% endblock %}
