{% extends "base.html" %}
 {% block content %}

<div class="container">
    <h3 class="mt-3">Sửa hồ sơ bệnh nhân</h3>

    <form action="{% url 'medical_record_edit_back_history' pk_doctor mrecord.pk pk_history %}" id="mrecord_edit_form" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="full_name">Họ và tên<span class="required-input">*</span></label>
                <input type="text" name="full_name" id="full_name" class="form-control" placeholder="" value="{{ form.full_name.value }}">
                <span id="alert_full_name" style="color: #d9534f;font-size:15px"></span>
            </div>
            <div class="col-md-3 mb-3">
                <label for="birth_date">Năm sinh<span class="required-input">*</span></label>
                <input type="text" id="birth_date" name="birth_date" class="form-control" placeholder="Chọn năm sinh" value="{{ form.birth_date.value }}" autocomplete="off">
                <span id="alert_birth_date" style="color: #d9534f;font-size:15px"></span>
            </div>
            <div class="col-md-3 mb-3">
                <label for="phone">Điện thoại<span class="required-input">*</span></label>
                <input type="text" id="phone" name="phone" class="form-control" placeholder="Số điện thoại" id="phone" value="{{ form.phone.value }}">
                {% for error in form.phone.errors %}
                <span id="alert_phone" style="color: #d9534f;font-size:13px">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="mb-3">
            <label for="address">Địa chỉ<span class="required-input">*</span></label>
            <input type="text" id="address" name="address" class="form-control" placeholder="" value="{{ form.address.value }}">
            <span id="alert_address" style="color: #d9534f;font-size:15px"></span>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3">
                <p class="mb-0">Giới tính</p>
                <div>
                    <label class="custom_radio mr-4">
                        <input type="radio" name="sex" value="0"                       
                        {% if not mrecord.sex %}
                            checked
                        {% endif %}>
                        <span>Nam</span>
                    </label>
                    <label class="custom_radio">
                        <input type="radio" name="sex" value="1"
                        {% if mrecord.sex %}
                            checked
                        {% endif %}>
                        <span>Nữ</span>
                    </label>
                </div>
            </div>
        
        </div>
        
        <button class="btn btn-submit" type="button">Sửa hồ sơ</button>
        <button class="btn btn-danger btn-del float-right" type="button"><a href="{% url 'medical_record_del' pk_doctor mrecord.pk %}">Xoá hồ sơ</a></button>

    </form>
</div>

<script>
$(document).ready(function(){
    // validate datetime format dd/mm/Y
    // function ValidateDate(value){
    //     regex = new RegExp("^([0-2]\\d{1}|3[0-1])\\/(0\\d{1}|1[0-2])\\/(19|20)\\d{2}$");
    //     var isValid = regex.test(value);
    //     return isValid;
    // }
    function ValidateDate(value){
      regex = new RegExp("^(19|20)\\d{2}$");
      var isValid = regex.test(value);
      return isValid;
    }

    // Kiem tra dinh dang cho chu
    function ValidateWord(value){
        regex = new RegExp("^[a-zA-Z_ÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêếìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶ" + "ẸẺẼỀỀỂẾưăạảấầẩẫậắằẳẵặẹẻẽềềểỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợ" + "ụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹý\\s]+$");
        var isValid =  regex.test(value);
        return isValid;
    }
    // date picker
    // $("#birth_date").datepicker({
    // dateFormat: "dd/mm/yy",
    // changeMonth: true,
    // changeYear: true,
    // yearRange:"-90:+0",
    // monthNames: ["1","2","3","4","5","6","7","8","9","10","11","12"],
    // monthNamesShort: ["1","2","3","4","5","6","7","8","9","10","11","12"]
    // });// end datepicker

    $(".btn-submit").click(function(){
        var full_name = $("#full_name").val();
        var birth_date = $("#birth_date").val();
        var address = $("#address").val();
        var valid = true;

        if(!ValidateWord(full_name)){
            $("#alert_full_name").text("Tên nhập không hợp lệ");
            valid &= false;
        } else{
            $("#alert_full_name").text("");
        }
        if(address ===""){
            $("#alert_address").text("Bạn chưa nhập địa chỉ");
            valid &= false;
        } else{
            $("#alert_address").text("");
        }

        if(!ValidateDate(birth_date)){
            $("#alert_birth_date").text("Năm sinh không hợp lệ");
            valid &= false;
        } else{
            $("#alert_birth_date").text("");
        }

        if(valid){
            $(this).prop("disabled",true);
            $("#mrecord_edit_form").submit();
        }
        
    }); // end click
}); // end ready
</script>

 {% endblock %}