{% extends "base.html" %}
 {% block content %}

<div class="container">

<div class="my-3">
  <div class="d-flex justify-content-between align-items-center">
    <h3>Bác sĩ {{ doctor.doctor.full_name }}</h3>
    <button class="btn btn-back"><a href="{% url 'pw_change' %}">Đổi Password</a></button>
  </div>
  
  <div class="basic_info_doctor">
    <p>Phòng khám: <span>{{ doctor.doctor.clinic_name }}</span></p>
    <p>ĐC phòng khám: <span>{{ doctor.doctor.clinic_address }}</span></p>
    <p>Điện thoại: <span>{{ doctor.doctor.phone }}</span></p>
    <p>Mã phòng khám: {{ doctor.pk }}</p>
  </div>
  
</div>

<div class="my-3 p-3 bg-light rounded box-shadow">
  <div class="d-flex justify-content-between align-items-center border-bottom border-gray">
    <h4 class="pb-2 mb-0">Danh sách bệnh nhân</h4>
    <div>
      <span style="font-weight: bold"><a href="?service=none" class="page-link-mix">Tất cả</a></span> / 
      <span style="font-weight: bold"><a href="?service=chua_kham" class="page-link-mix">Chưa khám</a></span> 
    </div>
    
  </div>
{% if object_list %}  
  {% for ob in object_list %}
<div class="media text-muted pt-3">
    <i class="fa fa-square mr-2"
     {% if ob.ob.sex %}
      style="font-size: 47px;color: #ff4081 "
      {% else %}
      style="font-size: 47px;color: #304ffe"
      {% endif %}></i>
    <div class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
      <div class="d-flex justify-content-between align-items-center w-100">
        <strong class="text-gray-dark"><a class="page-link-mix" href="{% url 'medical_record_view' doctor.pk ob.ob.pk %}">
          {% if ob.ob.full_name == "" %}
                  Bệnh nhân mới 
          {% else %}
            {{ ob.ob.full_name }} 
          {% endif %}
          
          {% if ob.ob.phone %}
            - ĐT: {{ ob.ob.phone }}
          {% endif %}
            
        </a>
        </strong>
        {% if ob.ps and ob.pk %}
      <a href="?service=san_khoa" class="page-link-mix">Phụ sản / Phụ khoa</a>
      {% elif ob.ps %}
      <a href="?service=phu_san" class="page-link-mix">Phụ sản</a>
      {% elif ob.pk %}
      <a href="?service=phu_khoa" class="page-link-mix">Phụ khoa</a>
      {% else %}
      <div>
        <a href="?service=chua_kham" class="page-link-mix">Chưa khám</a> - 
        <a href="{% url 'medical_record_del' doctor.pk ob.ob.pk %}?path_list={{request.path}}&page={{page_number}}" class="page-link-mix" style="color: #d9534f">Xóa</a>
        
      </div>
      
      {% endif %}
      </div>
      <div>
          {% if ob.ob.sex %}
          <i class="fa fa-female"></i>
          {% else %}
          <i class="fa fa-male"></i>
          {% endif %}
      <span >{{ ob.ob.birth_date |date:"Y"}}</span>
      </div>
    </div>
</div>
{% endfor %}
</div>


<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
      
    <li class="page-item
        {% if not first_page_url %}
           disabled
       {% endif %}"><a class="page-link page-link-mix" href="{{ first_page_url }}&service={{ service }}">First</a></li>         
    
    
    <li class="page-item 
    {% if not previous_page_url %}
        disabled
    {% endif %}">
      <a class="page-link page-link-mix" href="{{ previous_page_url }}&service={{ service }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>

        
    {% for i in page_obj.paginator.page_range %}
    <li class="page-item
    {% if page_obj.number == i %}
      active
    {% endif %}">
        <a href="?page={{ i }}&service={{ service }}" class="page-link page-link-mix">{{ i }}</a>
    </li>
    {% endfor %}

    
    
    <li class="page-item 
    {% if not next_page_url %}
        disabled
    {% endif %}">
    <a class="page-link page-link-mix" href="{{ next_page_url }}&service={{ service }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
    </a>
    </li>
        
    
    <li class="page-item
     {% if not last_page_url %}
        disabled
    {% endif %}"><a class="page-link page-link-mix" href="{{ last_page_url }}&service={{ service }}">Last</a></li>
  </ul>
</nav>
{% endif %}
</div>
<script>
  $(document).ready(function() {
    // $("#bt_search_navbar").click(function() {
    //   var value = $("#search_navbar").val();
    //   alert(value);
    //   console.log(value);
    // }); // end click
    
  });
</script>
{% endblock %}
