.custom_radio {
    margin: 16px 0;
    display: inline-block;
    cursor: pointer;
  }
  .custom_radio input {
    display: none;
  }
  .custom_radio input + span {
    line-height: 22px;
    height: 22px;
    padding-left: 22px;
    display: block;
    position: relative;
  }
  .custom_radio input + span:not(:empty) {
    padding-left: 30px;
  }
  .custom_radio input + span:before, .custom_radio input + span:after {
    content: '';
    width: 22px;
    height: 22px;
    display: block;
    border-radius: 50%;
    left: 0;
    top: 0;
    position: absolute;
  }
  .custom_radio input + span:before {
    background: #D1D7E3;
    transition: background 0.2s ease, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
    transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
    transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2), -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
  }
  .custom_radio input + span:after {
    background: #fff;
    -webkit-transform: scale(0.78);
            transform: scale(0.78);
    transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4), -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
  }
  .custom_radio input:checked + span:before {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
    background: #009688;
  }
  .custom_radio input:checked + span:after {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
  }
  .custom_radio:hover input + span:before {
    -webkit-transform: scale(0.92);
            transform: scale(0.92);
  }
  .custom_radio:hover input + span:after {
    -webkit-transform: scale(0.74);
            transform: scale(0.74);
  }
  .custom_radio:hover input:checked + span:after {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  

  