:root {
  --input-padding-x: 0.75rem;
  --input-padding-y: 0.75rem;
}

html,
body {
  /* height: 100%; */
}

.body-login {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  /* padding-top: 40px;
    padding-bottom: 40px; */
  /* background-color: #f5f5f5; */

  color: #212529;
}

.patient-login {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}
.patient-profile {
  width: 100%;
  max-width: 1000px;
  padding: 15px;
  margin: 0 auto;
}

.basic_info_doctor {
  font-size: 15px;
  font-weight: 500;
}
.basic_info_doctor p {
  margin-bottom: 5px;
  line-height: 12px;
}
.basic_info_doctor span {
  font-size: 13px;
  font-weight: 300;
}
