{% extends "user/base_user.html" %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Bản quyền</h1>
  <p class="lead mb-0">- Phần mềm quản lý phòng khám, hồ sơ điện tử.</p>
  <p class="lead mb-0">- Nền tảng đám mây, truy cập mọi lúc mọi nơi.</p>
  <p class="lead mb-0">- Quản lý thời gian hoạt động, đặt lịch hẹn khám chính xác đến từng phút.</p>
  <p class="lead">- Đọc và trả kết quả siêu âm, đồng bộ lên đám mây, hỗ trợ chẩn đoán từ xa.</p>
</div>

<div class="container-fluid">
      
  <div class="row mb-3 text-center">
    <div class="col-xl-3 col-sm-6 py-2">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">1month_premium</h4>
      </div>
      <div class="card-body">
        <h3 class="card-title pricing-card-title">490,000 VNĐ <small class="text-muted">/thang</small></h3>
        <ul class="list-unstyled mt-3 mb-5 text-left">
          <li>-Tài khoản phần mềm phòng khám đầy đủ tính năng + Phần mềm đọc và trả kết quả siêu âm.</li>
          <li class="mt-2">-Sử dụng trong 30 ngày.</li>
          <li></li>
          <li class="mt-2">-Hỗ trợ sự cố 24/7/30.</li>
        </ul>
        <button id="one_month" type="button" class="btn btn-lg btn-block btn-outline-primary mt-4">Đặt Mua Ngay</button>
      </div>
    </div>
  </div>
    <div class="col-xl-3 col-sm-6 py-2">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">1year_premium</h4>
      </div>
      <div class="card-body">
        <h3 class="card-title pricing-card-title">4,990,000 VNĐ <small class="text-muted">/nam</small></h3>
        <ul class="list-unstyled mt-3 mb-3 text-left">
          <li>-Tài khoản phần mềm phòng khám đầy đủ tính năng + Phần mềm đọc và trả kết quả siêu âm.</li>
          <li class="mt-2">-Sử dụng trong 1 năm.</li>
          <li class="mt-2">-Tiết kiệm được 890,000 VNĐ.</li>
          <li class="mt-2">-Hỗ trợ sự cố 24/7/30.</li>
        </ul>
        <button id="one_year" type="button" class="btn btn-lg btn-block btn-outline-primary">Đặt Mua Ngay</button>
      </div>
    </div>
  </div>
    <div class="col-xl-3 col-sm-6 py-2">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">3years_premium</h4>
      </div>
      <div class="card-body">
        <h3 class="card-title pricing-card-title">11,990,000 VNĐ <small class="text-muted">/3nam</small></h3>
        <ul class="list-unstyled mt-3 mb-3 text-left">
          <li>-Tài khoản phần mềm phòng khám đầy đủ tính năng + Phần mềm đọc và trả kết quả siêu âm.</li>
          <li class="mt-2">-Sử dụng trong 3 năm.</li>
          <li class="mt-2">-Tiết kiệm được 5,650,000 VNĐ.</li>
          <li class="mt-2">-Hỗ trợ sự cố 24/7/30.</li>
        </ul>
        <button id="three_years" type="button" class="btn btn-lg btn-block btn-outline-primary">Đặt Mua Ngay</button>
      </div>
    </div>
  </div>
    <div class="col-xl-3 col-sm-6 py-2">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">ultrasound_app</h4>
      </div>
      <div class="card-body">
        <h3 class="card-title pricing-card-title">3,990,000 VNĐ <small class="text-muted"></small></h3>
        <ul class="list-unstyled mt-3 mb-5 text-left">
          <li>-Phần mềm đọc và trả kết quả siêu âm.</li>
          <li class="mt-2">-Sử dụng trọn đời, hỗ trợ lưu trữ đám mây và thống kê lịch sử siêu âm trên website.</li>
          <li class="mt-2">-Hỗ trợ sự cố 24/7/30.</li>
        </ul>
        <button id="ultrasound" type="button" class="btn btn-lg btn-block btn-outline-primary">Đặt Mua Ngay</button>
      </div>
    </div>
  </div>
    
  <form action="{% url 'license' %}" class="hidden-part" method="post">
    {% csrf_token %}
    <input type="text" id="license" name="license" >
    <input type="text" id="money" name="money">
    <input type="text" id="order_desc" name="order_desc">
  </form>
    
    
  </div>

  <script>
    $(document).ready(function(){
      $(".hidden-part").hide();

      $("#one_month").click(function(){
        $("#license").val("1month_premium");
        $("#money").val("490000");
        $("#order_desc").val("su dung premitum account trong 1 thang");

        $(this).prop("disabled",true);
        $("#one_year").prop("disabled",true);
        $("#three_years").prop("disabled",true);
        $("#ultrasound").prop("disabled",true);
        $(".hidden-part").submit();
      }); // end click one month

      $("#one_year").click(function(){
        $("#license").val("1year_premium");
        $("#money").val("4990000");
        $("#order_desc").val("su dung premitum account trong 1 nam");

        $(this).prop("disabled",true);
        $("#one_month").prop("disabled",true);
        $("#three_years").prop("disabled",true);
        $("#ultrasound").prop("disabled",true);
        $(".hidden-part").submit();
      }); // end click one year

      $("#three_years").click(function(){
        $("#license").val("3years_premium");
        $("#money").val("11990000");
        $("#order_desc").val("su dung premitum account trong 3 nam");

        $(this).prop("disabled",true);
        $("#one_year").prop("disabled",true);
        $("#one_month").prop("disabled",true);
        $("#ultrasound").prop("disabled",true);
        $(".hidden-part").submit();
      }); // end click three years
      
      $("#ultrasound").click(function(){
        $("#license").val("ultrasound_app");
        $("#money").val("3990000");
        $("#order_desc").val("su dung ultrasound app khong gioi han thoi gian");

        $(this).prop("disabled",true);
        $("#one_year").prop("disabled",true);
        $("#three_years").prop("disabled",true);
        $("#one_month").prop("disabled",true);
        $(".hidden-part").submit();
      }); // end click ultrasound
    }) ; // end ready
  </script>
</div>

{% endblock %}
  