{% extends "user/base_user.html" %}
 {% load crispy_forms_tags %}
  

   {% block content %}
    <div class="form-signup">
        
        {% if validlink %}
         <p class="lead text-center">Nhập mật khẩu mới và xác nhận mật khẩu mới vào các ô bên dưới để thay đổi mật khẩu.</p>
        <form action="{{request.path}}" method="post">
            {% csrf_token %}
             {{ form|crispy }} 
             <button class="btn btn-success">Thay đổi mật khẩu</button>
        </form>   
        {% else %}
        <p class="lead text-center">Link thay đổi mật khẩu không còn hợp lệ! Hãy gửi yêu cầu  <a href="{% url 'pw_reset_form' %}">thay đổi mật khẩu mới tại đây</a></p>

        {% endif %}
            
        
    </div>

   {% endblock %}